/* .d-flex.justify-content-between.align-items-center {
  margin: 10px 100px 10px 100px;
} */
/* 헤더 마진 간격  */

.a3 {
  margin: 0 auto;
}

.carousel img {
  height:400px;
}

.a3 {
  background-color: #E0F7FA;
}

.a4 {
  margin-top: 20 ;
}